
<img src="https://i.ibb.co/PQjhtPK/Logo-Datos-Vivos.png" width="400px"> 

# Curso Introductorio de Python

Publicado por [Escuela de Datos Vivos](https://escueladedatosvivos.ai/) (EDVAI) | [P치gina oficial del curso](https://escueladedatosvivos.ai/p/curso-gratuito-introduccion-a-python)

Seguinos en las redes para mas contenido:
 [Instagram](https://www.instagram.com/escueladedatosvivos/) | [Linkedin](https://www.linkedin.com/company/escuela-de-datos-vivos/) | [Twitter](https://twitter.com/datos_vivos) 

Canal de [YouTube](https://www.youtube.com/c/Escueladedatosvivosai).

<br>


Profesor: [Pablo Casas](https://www.linkedin.com/in/pcasas/).

---

## 1) Desembarco inicial

Este es un primer laboratorio de python

In [ ]:
a=1+1
a

In [ ]:
b="hola mundo!"

In [ ]:
b

## Segundo ejercicio!

Explorar un pandas data frame y sus tipos de datos

In [ ]:
# cargar librer칤a Pandas

In [ ]:
import pandas as pd

In [ ]:
# crear data frame (no le presten atenci칩n por ahora...)
d_star_wars=pd.DataFrame({'personaje': ['Luke Skywaker', 'C-3PO', 'Darth Vader'], 'altura':[172, 167, 202]})

In [ ]:
d_star_wars

In [ ]:
# Tipos de datos de pandas data frame
d_star_wars.dtypes

In [ ]:
# Tipo de estructura de dato: la lista
lista_personajes=['Luke Skywaker', 'C-3PO', 'Darth Vader']

In [ ]:
lista_altura=[172, 167, 202]

In [ ]:
lista_altura

In [ ]:
# Crear un pandas dataframe basado en 2 listas
d_sw=pd.DataFrame({'personaje': lista_personajes, 
                   'altura':lista_altura
                  })

In [ ]:
d_sw

## Tercer ejercicio!

Filtrar datos en pandas. La l칩gica de la notaci칩n vectorial.

In [ ]:
d_star_wars

In [ ]:
d_star_wars['personaje'] # devuelve un pandas series

In [ ]:
# d_star_wars.iloc[indice de fila, indice de columna]
d_star_wars.iloc[:, 0] # los dos puntos simboliza los slides

In [ ]:
# devuelve todo el registro 0
d_star_wars.iloc[0, :]

Esto los puede confundir...

In [ ]:
d_star_wars.loc[:, 'personaje'] # es equivalente a: d_star_wars.iloc[:, 0]

In [ ]:
# d_star_wars.iloc[:, 'personaje']. # error porque el 2do par치metro no es un entero

In [ ]:
# 칤ndices para las columnas:
d_star_wars.columns

In [ ]:
# 칤ndices de los registros
list(d_star_wars.index)

In [ ]:
d_star_wars.loc[0, :] # es equivalente: d_star_wars.iloc[0, :] (porque el 칤ndice 0 es la posici칩n y el nombre)

In [ ]:
# acceder a 1 elemento
d_star_wars.loc[0, 'altura']

In [ ]:
d_star_wars.loc[1, 'altura']

## Cuarto ejercicio

Un poco mas de acceso y filtos de datos con condiciones

![](https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2016/10/Pandas-selections-and-indexing-768x549.png)

In [ ]:
d_star_wars

In [ ]:
d_star_wars.iloc[0:2, 0]

In [ ]:
# nos devuelve todo
d_star_wars.iloc[0:3, 0:2]

### Remplazar valores

In [ ]:
# otra manera de filtrar vectorialmente
d_star_wars['personaje']=='Darth Vader'

In [ ]:
# 쮺칩mo le cambiamos la altura a Darth Vader?
v_flag=d_star_wars['personaje']=='Darth Vader'

In [ ]:
# 쮺omo remplazar un valor basado en una condici칩n?
d_star_wars.loc[v_flag, 'altura']

In [ ]:
d_star_wars.loc[v_flag, 'altura'] = 185

In [ ]:
# chequeo
d_star_wars

In [ ]:
# haciendo todo en la misma linea
d_star_wars.loc[ d_star_wars['personaje']=='Luke Skywaker', 'altura']=200

In [ ]:
d_star_wars

## 2) Dominando los datos 

Carga de archivos, exploraci칩n de un data frame, uso de librer칤as externas

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

쮺칩mo leer datos de google drive en google colab?

In [ ]:
# Lectura de archivos
import pandas as pd


d_star_wars=pd.read_csv("/content/drive/MyDrive/EDVAI/Files/starwars.csv")

In [ ]:
# Exploraci칩n con DataTable colab
from google.colab.data_table import DataTable

DataTable(d_star_wars)

In [ ]:
# shape, devuelve una tupla: tipo de dato que no puede modificarse, "is at it is"
d_star_wars.shape

In [ ]:
# head / tail
d_star_wars.head(3)

In [ ]:
# funpymodeling / instalar nuevas librer칤as
!pip install funpymodeling

C칩mo usar funpymodeling: [youtube playlist](https://www.youtube.com/watch?v=4JOyB1UhGNY&list=PLqzBY6yE_SmGz3M51p8mxfUOm3FvMC2gr&index=1)

<img src="https://repository-images.githubusercontent.com/286575297/527f4680-e897-11ea-9782-3e4449c12549" width="350px">

In [ ]:
# status
from funpymodeling.exploratory import status

In [ ]:
status(d_star_wars)

In [ ]:
d_star_wars=pd.read_csv(filepath_or_buffer="/content/drive/MyDrive/EDVAI/Files/starwars.csv", sep=',')
d_star_wars

Nota: Si por alg칰n motivo no pudieron conectarse con google drive, pueden leer archivos directamente de una url, para star wars descomenten la l칤nea y usen:

In [ ]:
d_star_wars=pd.read_csv(filepath_or_buffer="https://raw.githubusercontent.com/pablo14/datasets/main/star_wars/starwars.csv", sep=',')

## Nulos en pandas

In [ ]:
d_star_wars.head()

In [ ]:
# None ~ NaN

In [ ]:
status(d_star_wars)

In [ ]:
# obtener nulos de una columna
d_star_wars['hair_color'].isna()

# creamos un filtro para obtener los registros con valores nulos
d_star_wars[d_star_wars['hair_color'].isna()]

In [ ]:
# el origen de los NaN
import numpy as np

In [ ]:
a=pd.Series([1,2,3, np.NaN])

In [ ]:
b=pd.Series([1,2,3, None])

In [ ]:
a

In [ ]:
b

### Remplazo de nulos

Variable categ칩rica / object

In [ ]:
d_star_wars

In [ ]:
values={'homeworld': 'nulo_home', 'species': 'nulo_species'}

d_star_wars.fillna(value=values)

In [ ]:
# remplazo en el mismo data frame
d_star_wars.fillna(value=values, inplace=True)

In [ ]:
d_star_wars

## Imputaci칩n de nulos para variables num칠ricas

In [ ]:
# Obtenci칩n del promedio, y luego imputamos una columna
d_star_wars['height'].mean()

In [ ]:
d_star_wars['height']=d_star_wars['height'].fillna(d_star_wars['height'].mean())

d_star_wars

---

## Profundiz치 en an치lisis exploratorio y gr치ficos

Aprende mas nuestro curso gratuito y complement치 lo visto hasta el momento.

[Introducci칩n a Estad칤stica para Machine Learning con Python](https://escueladedatosvivos.ai/p/curso-gratuito-estadistica-para-machine-learning-con-python)

Tambi칠n tenemos tutoriales en el [blog](https://blog.escueladedatosvivos.ai/) y el [canal de YouTube](https://www.youtube.com/c/Escueladedatosvivosai).

<br>

---

## Ejercicios!

Se asume que ya corrieron los ejercicios mostrados y exploraron un poco el ecosistema de google colab.
 
游녤 **Es super importante** que los hagan para fijar lo que aprendieron. No se frusten si estan 20 minutos para crear una lista, es al principio! 

<br> 

1) Crear dos listas de 5 valores, uno n칰merico y otro con string, llamado lista1 y lista2, con los siguientes valores:

1,2,3,4,5

a,b,c,d,e

2) Crear e imprimir en pantalla un pandas data frame llamado `d_test` basandose en las listas del punto 1). Nombres de las columnas: `columna_A` y `columna_B`

3) Cargar los datos de heart disease con pandas en una variable llamada `d_hd`. Imprimir en pantalla.

URL: `https://raw.githubusercontent.com/pablo14/datasets/main/heart_disease/heart_disease.csv`

In [ ]:
import pandas as pd

In [ ]:
# 3.1) Imprimir la variable `age` y `has_heart_disease` al mismo tiempo. No usar loc ni iloc.

In [ ]:
# 3.2) Explorar los datos con DataTable de google colab, usar filtros y ordenar las columnas haciendo click en ellas

In [ ]:
# 3.3) Imprimir los primeros 3 registros con head, y los 칰ltomos 3 con tail

# head

In [ ]:
# tail

In [ ]:
# 3.4) Acceder con loc a la columna has_heart_disease, y mostrar todos los registros

In [ ]:
# 3.5) Idem 3.4) peor mostrando los primeros 3 registros. Usar slice, no head.

In [ ]:
# 3.6) Usar iloc para obtener las primeras 3 columnas, y 5 registros

4) Trabajando con nulos

In [ ]:
# 4.1) Instalar funpymodeling
!pip install funpymodeling

In [ ]:
# 4.2) Cargar funci칩n status
from funpymodeling.exploratory import status

In [ ]:
# 4.3) 쯈u칠 variables tienen nulos?  (usar status)

In [ ]:
# 4.4) Devolver un data frame con todos los registros que tienen NaN en la variable "thal".

In [ ]:
# 4.5) Remplazar los nulos que aparecen en la variable "thal por 999. *No* guardarlo en el dataframe original. Usar fillna.

In [ ]:
# 4.6) Remplazar los nulos que aparecen en la variable "thal" por 999 (como antes), 
# y tambi칠n remplazar los nulos de "num_vessels_flour" por el promedio de la variable. 
# Guardar el resultado en un dataframe nuevo llamado "d_hd2".

In [ ]:
# 4.7) Chequear resultado con status

In [ ]:
# 4.8) Mini ejercicio para googlear:
# Eliminar todas los registros con nulos usando `dropna` de pandas


Fin de los ejercicios, felicitaciones!

<br>

---





**Bonus track**: Todo Python en una foto, [fuente](https://github.com/coodict/python3-in-one-pic).

<img src="https://raw.githubusercontent.com/coodict/python3-in-one-pic/master/py3%20in%20one%20pic.png" width="300px">